@charset "utf-8";
body{
    background-color:#ecf0f1;
}

.wrap{
    height:100%;
    position:relative;
    max-width:640px;
    margin-right:auto;
    margin-left:auto;
    padding:10px;

}
.gray_cover{
    background-color:#000000;
    opacity: 0.5;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 100;
    display: none;
}
header{
    border-bottom: 1px solid #eeeeee;
    padding-left: 10px;
    padding-bottom:10px;
}

.title{
    width:150px;
    margin-right:auto;
    margin-left:auto;
}

.addTask_form{
    -webkit-border-radius: 10px;
    height: 240px;
    width:300px;
    position: absolute;
    display: none;
    background-color:#ffffff;
    z-index:200;
    padding:20px;
}

.input-group{
    display: block;
    margin-bottom:20px;
}
.input-group .input_label{
    display:block;
    width:62px;
    float:left;
}

.add_task{
    position: absolute;
    top:-3px;
    right:20px;
}
.dead_date input{
    width:100px;
}
.contents{
    padding-top:20px;
}
.task_list{
    padding:20px;
    height:100%;
}
.task_wrap{
    -webkit-border-radius: 10px;
    background-color:#ffffff;
    padding:20px;
    margin-bottom: 20px;
}
.task_wrap h2 h3 h4 {
    margin-bottom: 20px;
}
div .done_task{
    background-color: #E4E4E4;
    color:#A7A7A7;
}
.warning_task{
    -webkit-border-radius: 10px;
    background-color: #FFBEBE;
    padding:20px;
    margin-bottom: 20px;
}
.task_status_normal{
    -webkit-border-radius: 10px;
    background-color:#ffffff;
    padding:20px;
    margin-bottom: 20px;
}



