@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@font-face
{
    font-family: mplus-1p-regular;
    src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
    format("truetype");
}
*{
    font-family: mplus-1p-regular;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

